.container {
  display: flex;
  width: 100%;
  min-height: 98vh;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  width: 50%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  margin: 25px 15px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 10px 0 #0007;
}

.pageNumber {
  display: flex;
  font-weight: 800;
  font-size: 1.2rem;
  justify-content: end;
  margin-bottom: 15px;
}

.question {
  font-size: 1.1rem;
  font-weight: 800;
}

.btn-group {
  display: flex;
  width: 50%;
  margin: 5px auto;
  justify-content: center;
}

.btn {
  width: 160px;
  background-color: #fff;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 30px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 10px 0 #0005;
  margin: 0 15px;
}

.btn:hover {
  background-color: #dff9;
  box-shadow: 0px 0px 20px 0 #0005;
}

.btn:active {
  background-color: #bff9;
}

.questionSpace {
  margin: 15px auto;
  padding: 10px;
  display: flex;
  width: 95%;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  margin: 5px auto;
}

.textSpace {
  display: block;
  border-radius: 30px;
  border: 2px solid #222;
  padding: 10px 20px;
  margin: 15px auto;
  width: 80%;
  font-size: 1rem;
}